@{
    ViewData["Title"] = "Home Page";
}

<div class="formulario">
    
    <form action='@Url.Action("generarReceta", "Home")' method="post" enctype="multipart/form-data">
            Nombre Completo: <input type="text" name="nombreCocinero">
            Fecha de nacimiento: <input type="date" name="fecha">
            Tipo de comida:

            <div> 
            <label> Caliente </label>
            <input type="radio" name="tipoComida" value="caliente"> 
            <label>Frio</label>
            <input type="radio" name="tipoComida" value="frio">
            </div>

            Presupuesto: <input type="number" name="presupuesto" min = "1">
            Cantidad de Personas: <input type = "number"  max ="20" min = "1" name = "cantPersonas">

            <button type="sumbit">Enviar</button>
        </form>
</div>
