<h1>Resultados de la receta</h1>

<p>nombre del cocinero:@ViewBag.nombreCocinero</p>
<p>Edad:@ViewBag.edad</p>
<p>plato sugerido:@ViewBag.plato</p>
<p>tiempo estimado de preparacion en minutos:@ViewBag.tiempo</p>
<p>cantidad de personas:@ViewBag.cantPersonas</p>
<p>dificultad de plato:@ViewBag.dificultad</p>